@import '../../constants.scss';
.appointment-field {
  textarea {
    padding: 10px;
    height: 150px;
    width: 100%;
    color: $secondary-dark;
    border: $border-standard;
    border-radius: 8px;
  }
  &__options {
    white-space: nowrap;
    overflow-x: auto;
    height: 50px;
  }
  &__option {
    display: inline-block;
    padding: 8px 12px;
    border: $border-standard;
    color: $secondary-dark;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    &--active {
      background-color: $positive;
      border: none;
      color: #fff;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

